{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
  },
  "plugins": ["unused-imports", "@typescript-eslint", "prettier", "typesafe", "react"],
  "extends": ["prettier", "plugin:import/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json",
    "warnOnUnsupportedTypeScriptVersion": false,
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "paths": ["src"],
      },
    },
  },
  "rules": {
    "no-alert": 0,
    "camelcase": 0,
    "no-console": 0,
    "no-unused-vars": 0,
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
    "no-unneeded-ternary": 0,
    "no-restricted-exports": 0,
    "no-useless-catch": 0,
    "react/no-children-prop": 0,
    "@typescript-eslint/no-shadow": 0,
    "react-hooks/exhaustive-deps": 0,
    "react/react-in-jsx-scope": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/no-array-index-key": 0,
    "no-promise-executor-return": 0,
    "react/require-default-props": 0,
    "react/jsx-props-no-spreading": 0,
    "import/prefer-default-export": 0,
    "react/function-component-definition": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/naming-convention": 0,
    "jsx-a11y/control-has-associated-label": 0,
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/no-explicit-any": "error",
    "typesafe/no-throw-sync-func": 1,
    "typesafe/no-await-without-trycatch": 1,
    "typesafe/promise-catch": 0,
    "arrow-body-style": ["error", "as-needed"],
    "react/jsx-no-useless-fragment": [
      1,
      {
        "allowExpressions": true,
      },
    ],
    "prefer-destructuring": [
      1,
      {
        "object": true,
        "array": false,
      },
    ],
    "react/no-unstable-nested-components": [
      1,
      {
        "allowAsProps": true,
      },
    ],
    "@typescript-eslint/no-unused-vars": [
      1,
      {
        "args": "none",
      },
    ],
    "react/jsx-no-duplicate-props": [
      1,
      {
        "ignoreCase": false,
      },
    ],
    "unused-imports/no-unused-imports": 0,
    "unused-imports/no-unused-vars": [
      0,
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_",
      },
    ],
    "padding-line-between-statements": [
      "warn",
      { "blankLine": "always", "prev": "*", "next": "return" },
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*" },
      {
        "blankLine": "any",
        "prev": ["const", "let", "var"],
        "next": ["const", "let", "var"],
      },
      { "blankLine": "always", "prev": "directive", "next": "*" },
      { "blankLine": "any", "prev": "directive", "next": "directive" },
      { "blankLine": "always", "prev": ["case", "default"], "next": "*" },
    ],
  },
}
